.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 500;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.navbar.show {
    background-color: #111;
}

.nav_logo {
    width: 150px;
    object-fit: contain;
}

.nav_avatar {
    width: 40px;
    object-fit: contain;
}

.nav-elements {
    margin-right: 40px;
}

.nav-elements ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-elements ul li{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.nav-elements .nav-links {
    border: 1px solid white;
    cursor: pointer;
    padding: 5px 10px;
}