.row {
    margin-left: 20px;
    color: #ffffff;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  width: 100%;
  cursor: pointer;
  object-fit: contain;
  max-height: 150px;
  margin-right: 16px;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
}


.row h2{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.row_poster:hover {
  transform: scale(1.1);
  z-index: 30;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.row_posterLarge {
    max-height: 350px;
}

.row_posterLarge:hover {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}